/* colors
        black #252121
        red #aa1f23
        gray #eae5de
        grey #f6f5f1
        white #fff */
:root {
  --primary: #fff;
  --secondary: rgba(17, 17, 17, 0.959);
  --text: rgb(129, 129, 129);
  --gold: #b1803f;
  --gray: #eae5de;
  --grey: #f6f5f1;
  --red: rgb(226, 24, 24);
  --bar: rgb(226, 226, 226);
  --ye: #d8953d;
}

body {
  position: relative;
  font-family: "Noto Sans TC", sans-serif;
  overflow-x: scroll;
}
body::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background-color: rgb(241, 241, 241); */
  mix-blend-mode: difference;
  z-index: 501;
  pointer-events: none;
}


.fa-list-alt,
.fa-file-invoice-dollar {
  font-size: 2rem;
}

.fa-file-invoice-dollar {
  font-size: 40px;
}

.acc-tr {
  background-color: var(--secondary) !important;
  color: #fff;
}

/* 導覽列 */
.navBar {
  /* background-color: rgb(46, 46, 46) !important; */
  background-color: #fff !important;
  /* color: #fff; */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  z-index: 500;
}

.logo {
  display: block;
  /* font-family: "Lobster"; */
  font-family: "Prata", serif;
  font-size: 1.8rem;
  /* color: rgba(20, 20, 20, 1); */
  /* color: #fff !important; */
  margin-right: 20px;
  margin-left: 20px;
}

/* 搜尋Bar */
.search-box {
  background-color: rgb(78, 78, 78);
  height: 50px;
  border-radius: 50px;
  padding: 0px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  transition: 0.4s ease;
}

.search-btn {
  position: relative;
  color: var(--primary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(78, 78, 78);
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  transition: 0.4s ease;
}

.fa-search {
  position: absolute;
  top: 30%;
  font-size: 1rem;
  color: var(--primary);
  transition: 0.4s;
}

.search-text {
  border: none;
  background: none;
  outline: none;
  color: var(--primary);
  font-size: 16px;
  transition: 0.4s ease;
  width: 0px;
}

.search-box:hover .search-text {
  width: 200px;
  padding: 0 6px 0 15px;
}

.search-box:hover .search-btn {
  background-color: white;
}

.search-box:hover .fa-search {
  color: var(--secondary);
}

/* 登出按鈕 */
#logOut {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-family: sans-serif !important;
  font-weight: 700;
  background-color: var(--secondary);
  color: #fff;
  margin: 0;
}
.wrapper {
  height: 300vh;
}

/* 左邊導覽列 */
.fa-user-friends {
  font-size: 1.5rem;
  margin-left: 3px;
}

.fa-user-tie{
  font-size: 1.5rem;
  margin-left: 2px;
}

.fa-guitar{
  font-size: 1.5rem;
}

.fa-cog{
  font-size: 1.5rem;
  margin-left: 1px;
}


.left-menu {
  width: 208px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  transition: 0.3s ease-in-out;
  position: relative;
  z-index: 499;
  height: 300vh;
}

.left-menu.active {
  width: 68px;
}

.left-menu-header {
  width: 100%;
  height: 60px;
  transition: 0.3s;
}

/* 搜縮左導覽列的按鈕 */
.left-menu-toggle-btn {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.3s;
}

.left-menu-toggle-btn:hover {
  cursor: pointer;
  background-color: #f6f5f1;
}

.left-menu-toggle-btn.active {
  background-color: #eae5de;
}

.black-line {
  width: 40%;
  /* border: 1px solid white; */
  height: 2px;
  /* background-color: #252121; */
  background-color: var(--secondary);
  border-radius: 1px;
  margin-bottom: 4px;
}

.lower-line {
  margin-bottom: 0;
}

.up-line,
.lower-line {
  transition: 0.3s ease-in-out;
}

/* 動畫--左導覽列收縮 */
.left-collapse {
  width: 100%;
  border-radius: none !important;
  box-shadow: none !important;
  overflow-x: hidden;
}

.my-card,
.my-card-header {
  border: none;
  border-radius: 0;
}

/* .my-card {
            background-color: rgb(46, 46, 46);
        } */

.my-card-header {
  border-radius: 0px 32px 32px 0px !important;
  transition: 0.3s;
  background-color: transparent;
  width: 95%;
  overflow-x: hidden;
  /* padding-left: 10px; */
}

.my-card-header:hover {
  background-color: #e0e0e0;
  text-decoration: none;
}

.my-card-header.active {
  border-radius: 0 25px 25px 0 !important;
  /* background-color: rgb(19, 19, 19); */
  background-color: var(--red);
  /* width: 50px; */
}

.my-card-header.active.ball {
  border-radius: 25px !important;
  margin-left: 5px;
  width: 45px;
}

.my-card-title {
  display: flex;
  align-items: center;
  color: var(--text);
  transition: 0.3s;
  letter-spacing: 2px;
  width: 198px;
  overflow: hidden;
}

/* .heading {
            width: 720px !important;
            overflow: hidden;
        } */

.my-card-title:hover {
  /* color: rgb(19, 19, 19); */
  color: var(--secondary);
}

.my-card-title:focus {
  outline: none;
  box-shadow: none;
}

.my-card-title.active {
  /* color: rgb(19, 19, 19); */
  color: rgb(250, 250, 250);
}

.my-card-content {
  padding-top: 10px;
  /* color: rgba(0, 0, 0, .5); */
  color: var(--secondary);
}

.card-collapse {
  margin-top: 5px;
  transition: 0.3s;
}

.card-collapse:not(.show) {
  display: block;
  height: 0;
}

.subTitle {
  list-style: none;
  padding: 0 0 0 15px;
  margin: 0;
  text-align: center;
}

.subTitle li {
  width: 153px;
  padding: 0;
}

.subTitle li a {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 10px 0;
  color: var(--text);
  transition: 0.3s;
}

.subTitle li a:hover {
  text-decoration: none;
  /* color: rgb(19, 19, 19); */
  color: var(--secondary);
}

.mainContent {
  background-color: #fff;
  /* background-color: rgb(46, 46, 46); */
  width: 100%;
}

/* pagination */
/* .page-item.active .page-link {
  background-color: var(--dark);
  border-color: var(--dark);
}
.page-link{
  color: var(--dark);
} */

/* 頁數 */
.pageNavigation{
  background-color: var(--white);
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

.pageNavigation li{
  list-style: none;
  line-height: 30px;
  margin: 0 5px;
}

.pageNavigation li.page-number{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  /* font-size: 1.2rem; */
}

.pageNavigation li a{
  display: block;
  text-decoration: none;
  color: #777;
  font-weight: 900;
  border-radius: 50%;
  transition: .3s;
  
}

.pageNavigation li.page-number:hover a,
.pageNavigation li.page-number.active a{
  background-color: var(--dark);
  color: #fff;
}

.pageNavigation li:first-child{
  margin-right: 30px;
  font-weight: 700;
  font-size: 16px;
}

.pageNavigation li:last-child{
  margin-left: 30px;
  font-weight: 700;
  font-size: 16px;
}


/* 垃圾桶和編輯 圖案 */
.fa-trash-alt, .fa-edit{
  color: var(--dark);
  font-size: 20px;
}

.fa-ban{
  font-size: 20px;
  color: var(--red);
}